.yt-overlay-box {
    position: fixed;
    z-index: 2147483647;
    pointer-events: none;
    transition: none !important;
}

.standard-style {
    background-color: pink;
}

.night-style {
    background-color: burlywood;
}

/* Hide UI spoilers */
.ytp-tooltip.ytp-preview, 
.ytp-videopreview, 
.ytp-tooltip-bg,
.ytp-ce-video {
    display: none !important;
}